<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52624583004-3dnj2qdec2bbi22afgahgm079mtamkp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52624583004-3dnj2qdec2bbi22afgahgm079mtamkp2</string>
	<key>API_KEY</key>
	<string>AIzaSyBFMbUUYaJesJDIRTVx67PEta_PLkT3cIw</string>
	<key>GCM_SENDER_ID</key>
	<string>52624583004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junek.ChatFirebase-TypeA</string>
	<key>PROJECT_ID</key>
	<string>chatfirebase-type-a-66f4e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirebase-type-a-66f4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52624583004:ios:30b180c89ed83b92027999</string>
	<key>DATABASE_URL</key>
	<string>https://chatfirebase-type-a-66f4e.firebaseio.com</string>
</dict>
</plist>